<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign in</title>
    <meta name="description" content="A minimalist layout for Login pages. Built with Pico CSS." />
    <!-- Pico.css -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="js/index.js"></script>
    <script src="js/modal.js"></script>
</head>

<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="./" class="contrast"><strong>TodoList</strong></a>
            </li>
        </ul>
        <ul class="nav" id="nav">
            <div v-if="user">
                <li>
                    <summary aria-haspopup="listbox" role="link" class="secondary" id="user">사용자: {{user.username}}</summary>
                </li>
                <li>
                    <summary aria-haspopup="listbox" role="link" class="secondary"><a href="login.html" v-on:click="logout">로그아웃</a>
                    </summary>
                </li>
            </div>
            <div v-else>
                <li>
                    <summary aria-haspopup="listbox" role="link" class="secondary"><a href="login.html">로그인</a>
                    </summary>
                </li>
                <li>
                    <summary aria-haspopup="listbox" role="link" class="secondary"><a href="signup.html">회원가입</a>
                    </summary>
                </li>
            </div>
        </ul>
    </nav>
    <button class="contrast" data-target="modal-example" onClick="toggleModal(event)">
        할일 작성하기
    </button>
    <main class="container">
        <div id="todolist">
            <div v-for='todo in todos'>
                <details :id="'todo'+todo.id" open>
                    <summary>{{todo.id}}. {{todo.title}}</summary>
                    <p>내용:{{todo.content}}</p>
                    <div v-if='todo.is_done'>
                        <p>완료시간: {{formatdate(todo.completion_at)}}</p>
                    </div>
                    <div v-else>
                        <p>수행여부:<input type="checkbox" v-bind:id="'is_done'+todo.id" name="is_done"
                                v-bind:value="todo.is_done" v-on:click="is_done(todo.id,todo.is_done)"></p>
                    </div>
                    <p><button v-on:click="tododelete(todo.id)">삭제</button></p>
                </details>
            </div>
        </div>
    </main>
    <dialog id="modal-example">
        <article>
            <a href="#close" aria-label="Close" class="close" data-target="modal-example" onClick="toggleModal(event)">
            </a>
            <h3>할일!</h3>
            <label for="title">할일</label>
            <input type="text" id="title" name="title" placeholder="할일쓰기" required>
            <label for="email">할일 자세히</label>
            <textarea name="content" id="content" cols="70" rows="10"></textarea>
            <small>너무 어렵다.....</small>
            <footer>
                <a href="" role="button" class="secondary" data-target="modal-example" onClick="toggleModal(event)">
                    취소
                </a>
                <a href="" role="button" data-target="modal-example" onClick="toggleModal(event)" id="todowrite">
                    작성
                </a>
            </footer>
        </article>
    </dialog>

    <script src="js/vue.js"></script>
</body>

</html>